/* Main container styles to center the application and make it responsive */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}

/* Styles for the input field */
input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;
  max-width: 300px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
}

/* Styles for buttons */
button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

/* Styles for the list */
ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  
  height:70px;
  margin: 0 auto;
}

/* Styles for list items */
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 5px;
  background-color: white;
  word-wrap: break-word; /* Allow long words to break */
}

/* Styles for completed tasks */
li.completed {
  text-decoration: line-through;
  color: grey;
}

/* Media query for mobile view */
@media (max-width: 600px) {
  /* Adjust the list width and margins */
  ul {
     /* Full width for mobile */
     list-style-type: none;
     padding: 0;
     width: 100%;
     
     height:70px;
     margin: 0 auto;
   
     
  }
  
  /* Ensure buttons are below text */

  
  /* Additional styling for buttons */
  li button {
      margin-top: 5px; /* Add some space between text and buttons */
      width: auto; /* Ensure buttons take the width of content */
  }
}
